section {
  --x: 50%;
  --y: 50%;
  --r: 290px;
  --r-bg: 100px;
  --hard: 255, 247, 0; /* bright yellow spotlight */
}

@media (min-width: 768px) {
  .heroText {
    position: relative;
    display: inline-block;
  }

  .heroText::after {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    background: radial-gradient(
      circle var(--r) at var(--x) var(--y),
      rgba(var(--hard), 1) 0%,
      rgba(var(--hard), 0.75) 30%,
      rgba(var(--hard), 0.4) 55%,
      rgba(var(--hard), 0.15) 75%,
      rgba(var(--hard), 0) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    pointer-events: none;
    filter: drop-shadow(0 0 10px rgba(var(--hard), 0.6));
    transition: background 0.15s ease-out;
  }
}

section {
  --x: 50%;
  --y: 50%;
  --r: 290px;
  --r-bg: 100px;
  --hard: 255, 247, 0; /* bright yellow spotlight */
}

.grid-container {
  position: relative;
  background-color: #121319;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.04) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 40px 40px;
  overflow: hidden;
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  background: linear-gradient(
    to top,
    rgba(18, 19, 25, 1) 0%,
    rgba(162, 165, 182, 0) 100%
  );
  pointer-events: none;
  z-index: 2;
}

.grid-glow-segment {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  /* fast pop-in when shown, smooth fade when removed */
  transition: opacity 0.12s ease-out, transform 0 ease-out;
  opacity: 0;
  /* transform: translate(-12px, 12px); */
}

.content {
  position: relative;
  z-index: 3;
}

.segment-appear {
  /* instant-ish pop */
  opacity: 1;
  transform: scale(1);
}

/* optional: slightly stronger glow trail */
.horizontal-segment {
  height: 2px;
  background: linear-gradient(
    90deg,
    transparent 0%,

    rgba(52, 43, 226, 0.754) 50%,

    /* purple */ transparent 100%
  );
  box-shadow: 0 0 6px rgba(100, 149, 237, 0.25);
}
.vertical-segment {
  width: 2px;
  background: linear-gradient(
    180deg,
    transparent 0%,
    rgba(52, 43, 226, 0.757) 50%,
    /* purple */ transparent 100%
  );
  box-shadow: 0 0 6px rgba(100, 149, 237, 0.25);
}
